<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/mentalgame.css">
    <title>Mental Jui Jitsu</title>
    <meta name="description" content="Mental">
</head>

<body>
    <h1>Mental Jui Jitsu</h1>
    <h2>Fight!</h2>
    <div id="board">
    </div>




</body>
<script src="scripts/mentallogic.js"></script>

</html>

<!--  <div text="1" id="card1" class="card" data-value="{1, true}" onclick="myFunction(this)"></div>-->