<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/mentalgame.css">
    <title>Mental Jujitsu</title>
    <meta name="description" content="Mental">
</head>

<body>
    <h1>Mental Jujitsu sTest</h1>
    <div id="board">
    </div>




</body>
<script src="scripts/mentallogic.js"></script>

</html>

<!--  <div text="1" id="card1" class="card" data-value="{1, true}" onclick="myFunction(this)"></div>-->