h1 {
    text-align: center;
}

.ready_button {
    float: left;
}

.opponent_card_holder {
    background-color: rgb(136, 200, 243);
    height: 100px;
    width: 100px;
}

.opponent_card_holder_played {
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
}

.card {
    float: left;
    background-color: antiquewhite;
    padding: 2%;
    margin: 1%;
    font-size: 15px;
}

.played_card {
    float: left;
    bottom: 30;
    background-color: green;
    padding: 2%;
    margin: 1%;
    font-size: 20px;
}

#game_deck {
    text-align: center;
    font-size: 25px;
    margin: 2%;
    background-color: brown;
    height: 100px;
    width: 100px;
}

hr {
    clear: both;
}